body{
    font-weight: 600;
    font-size: 18px;
    margin: 0;
    padding: 7px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #f0f9ff;
}
h1{
    text-align: center;
    color: #0f766e;
    background-color: #ccfbf1;
}
.menu{
    background-color: #e0f2fe;
    text-align: center;
}
a{
    color: #0369a1;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}
a:hover {
    background-color: #207eb1;
    color: white;
}
.table {
    text-align: center;
    background-color: #f8fafc;
}
input[type="text"], input[type="email"]{
    width: 230px;
    height: 25px;
}
select {
    width: 200px;
    height: 23px;
}
input:focus {
    background-color: #ecfeff;
}
select:focus {
    background-color: #ecfeff;
}
input[type="button"] {
    background-color: #0ea5a4;
    color: white;
    width: 120px;
    font-size: 18px;
}
input[type="button"]:hover {
    background-color: #0f766e;
    color: white;
}
.footer{
    text-align: center;
    background-color: #0f766e;
    color: white;
    font-size: 15px;
    font-weight: 300;
}
label{
    color: #134e4a;
}