body{
    margin: 0;
    padding: 7px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #f0f9ff;
}
h1{
    text-align: center;
    color: #0f766e;
    background-color: #ccfbf1;
}
.menu{
    background-color: #e0f2fe;
    text-align: center;
}
a{
    color: #0369a1;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}
a:hover {
    background-color: #207eb1;
    color: white;
}
table{
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    font-size: 14px;
    height: 250px; 
}
th{
    background-color: #bae6fd;
    color: #075985;
    padding: 20px;
}
td{
    padding: 20px ;
}
tr:hover{
    background-color: #e6f4ff;
}
.footer{
    text-align: center;
    background-color: #0f766e;
    color: white;
}